doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registration
        link(href='registration.css' rel='stylesheet')

    body
        div.missingfield 
            if(message2)
                h3 #{message2}  
        div.userexist 
            if(message1)
                h3 #{message1}     
        form(action='/addtopicmanagers' method='post')
            .contactpage
                p Topic Manager Details
                .inputform
                    label.inputblock(for='userid') UserId
                    input#userid(type='text'  name='userid')
                .inputform
                    label.inputblock(for='password') Password
                    input#password(type='password' name='password')
                .inputform
                    label.inputblock(for='name') Name
                    input#name(type='text' name='name')
                .inputform
                    label.inputblock(for='subject') Subject
                    select#subject(name='subject')
                        option(value='' checked='') please select
                        each val in topic
                            option(value=`${val._id}`) #{val.subject}     
                .inputform
                    input#submit.submitbutton.inputblock(type='Submit' value='Submit')
                