doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href='adminaddtopic.css' rel='stylesheet')
    body
        form(action='/topicpost' method='post' enctype='application/x-www-form-urlencoded')
            .topicpage
                h1 Topic Form    
                .inputform
                    label.inputblock(for='subject') Title
                    input#subject(type='text' name='subject')
                .inputform
                    input(type='submit' value='submit')    