doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Adminenter 
        link(href='admindashboardpage.css' rel='stylesheet')
    body
        .logout
             a(href = 'logoutadmin') LOGOUT
        .container
            .style 
                p Welcome Admin
            ul 
                li 
                    a(href = 'managepeople') MANAGE PEOPLE
                li    
                    a(href = 'managetopics') MANAGE TOPICS
                li    
                    a(href = 'managetopicamanagers') MANAGE TOPIC MANAGERS