doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project - Home
    link(rel='stylesheet', href='home.css')
  body
    #welcome
      h1 Welcome
    div
      .loginsection
        h1 Login
        form
          a(href='/login')
            input(type='button', value='Login')
          .signup_text
            | Not a member? Sign Up Here
            a(href='/signup')
              input(type='button', value='Sign Up')
    .articlesection
      h1 Read Articles
        each val in topic
          ul
            li
              a(href=`/gohome/${val._id}/${val.subject}`) #{val.subject} 
