doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Login Page
    link(rel='stylesheet', href='loginpage.css')
  body
  if(message)
    h4(style = "color:black ; text-align:center ; padding-top:35px") #{message}
  .center
    h1 Login
    form(method='post')
      .txt_field
        input#email(type='email', name='email', required='')
        span
        label Email
      .txt_field
        input#password(type='password', name='password', required='')
        span
        label Password
      input(type='submit', value='Login')
      .signup_link
        | Not a member? 
        a(href='/signup') Signup