doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Adminenter 
        link(href='topicmanagerdashboard.css' rel='stylesheet')
    body
        .logout
             a(href = 'logouttopicmanager') LOGOUT
        .container
            .style 
                p Welcome #{name}
                a(href = 'managetopicarticles') MANAGE USERS ARTIClES